body {
  background-color: rgb(244, 244, 244);
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 5mm;
}

.container {
  background-color: #f02731;
  /* border-style: solid; */
  width: 19%;
  height: 2vw;
  display: flex;
  flex-flow: column wrap;
}

.display {
  margin: auto;
  color: rgb(128, 126, 126);
  background-color: rgba(74, 88, 245, 0);
  margin-top: 14mm;
  margin-left: -97px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
}

.buttonBox {
  position: absolute;
  background-color: rgba(0, 0, 255, 0);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
  width: 6vw;
  height: 4vw;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
}

.sidetext {
  background-color: rgba(40, 47, 240, 0.589);
  margin-top: -10px;
  padding-left: 10px;
  padding-right: 0px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vw;
}

.tag {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  margin-top: 500px;
}

.tag a {
  margin-left: 2mm;
  text-decoration: none;
  color: #453939;
}

.tag :hover {
  background-color: aqua;
  margin-left: 2mm;
  text-decoration: none;
  color: #6724a7;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .buttonBox {
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    width: 6vw;
  }

  .buttonBox button {
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 10px;
    background-color: darkgrey;
    font-weight: bold;
    border-radius: 10px;
    width: 5vw;
    height: 5vw;
  }

  .container {
    background-color: #f02731;
    width: 20%;
    height: 4vw;
    display: flex;
  }

  h1 {
    display: flex;
    justify-content: center;
    margin-top: 4mm;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .buttonBox button {
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 10px;
    background-color: darkgrey;
    font-weight: bold;
    border-radius: 10px;
    width: 3vw;
    height: 3vw;
  }

  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
